{% extends "base.html" %}
{% load sorl_thumbnail %}

{% block title %}
    Image Saver
{% endblock %}

{% block body %}

    <div class="row pt-5">
        {% for post in posts %}
            <div class="col">
                <div class="card my-5" style="width: 18rem;">
                    <a href="{% url 'feed:detail' post.id %}">
                    {% thumbnail post.image "200x200" crop="center" as im %}
                    <img class="card-img-top" src="{{ im.url }}" alt="Card image cap" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    </a>
                    <div class="card-body">
                      <h5 class="card-title">{{post}}</h5>
                      <p>{{post.date}}</p>
                      <a href="{% url 'feed:detail' post.id %}" class="btn btn-primary center">View Fullsize</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}