{% extends "base.html" %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <form method="POST" action="" enctype="multipart/form-data" class="col-sm-4 offset-4 py-5 my-5">
                <h2 class="my-5">Add Post</h2>
                {% csrf_token %}
                {{form.as_p}}
                <div>
                    <button type="submit" class="btn btn-secondary text-center">Post</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}